<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Vinh Dao Media</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    
    <div id="root">
      <style>
        
        @-webkit-keyframes rotating /* Safari and Chrome */ {
          from {
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          to {
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        @keyframes rotating {
          from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        .page-loading-warp {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .green-spin {
          content: '';
          box-sizing: border-box;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 36px;
          height: 36px;
          /* margin-top: -15px; */
          /* margin-left: -15px; */
          border-radius: 50%;
          border: 2px solid hsl(0, 0%, 80%);
          border-top-color: #04470a;
          animation: spinner 0.6s linear infinite;
          position: absolute;
          display: none;
          color: #053f09;
          text-align: center;
          vertical-align: middle;
          opacity: 0;
          -webkit-animation: rotating 1s linear infinite;
          -moz-animation: rotating 1s linear infinite;
          -ms-animation: rotating 1s linear infinite;
          -o-animation: rotating 1.5s linear infinite;
          animation: rotating 1s linear infinite;
        }

        .green-spin-spinning {
          position: static;
          display: inline-block;
          opacity: 1;
        }

        .green-spin-dot {
          position: relative;
          display: inline-block;
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      </style>
      <div class="page-loading-warp">
        <div class="green-spin green-spin-lg green-spin-spinning"></div>
          
        </div>
      </div>
    </div>
  </body>
</html>
